---
import Logo from "./Logo.astro";
type Props = {
  headerText?: string;
  backlink?: string;
};

const { headerText, backlink = "#" } = Astro.props;
---

<header class="bg-black p-2 flex justify-between w-full items-center">
  <a href={backlink} class="inline-block p-3">
    {
      headerText ? (
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
          <path d="M15 19L8 12L15 5" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      ) : (
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M0 2.47998H24V4.75998H0V2.47998ZM0 10.46H24V12.74H0V10.46ZM0 18.44H24V20.72H0V18.44Z"
            fill="white"
          />
        </svg>
      )
    }
  </a>
  {
    headerText ? (
      <p class="font-medium text-white">{headerText}</p>
    ) : (
      <a href="/">
        <Logo />
      </a>
    )
  }
  <div class:list={["p-3", { "opacity-0": headerText }]}>
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M9.10308 19.1081C9.21199 19.1068 9.3201 19.1269 9.42123 19.1674C9.52236 19.2079 9.61453 19.2678 9.69247 19.3439C9.77042 19.42 9.83261 19.5107 9.8755 19.6108C9.91839 19.711 9.94113 19.8186 9.94244 19.9275C9.93727 20.1475 9.84688 20.357 9.6903 20.5117C9.53372 20.6664 9.32318 20.7543 9.10308 20.7569C8.88218 20.7569 8.67019 20.6698 8.51306 20.5145C8.35594 20.3593 8.26635 20.1484 8.26372 19.9275C8.26368 19.8182 8.28552 19.71 8.32794 19.6092C8.37036 19.5085 8.43251 19.4173 8.51073 19.3409C8.58894 19.2646 8.68164 19.2046 8.78337 19.1646C8.8851 19.1247 8.9938 19.1054 9.10308 19.1081ZM19.5351 19.1081C19.6441 19.1068 19.7522 19.1269 19.8533 19.1674C19.9544 19.2079 20.0466 19.2678 20.1245 19.3439C20.2025 19.42 20.2647 19.5107 20.3076 19.6108C20.3505 19.711 20.3732 19.8186 20.3745 19.9275C20.3693 20.1475 20.2789 20.357 20.1224 20.5117C19.9658 20.6664 19.7553 20.7543 19.5351 20.7569C19.3143 20.7569 19.1023 20.6698 18.9451 20.5145C18.788 20.3593 18.6984 20.1484 18.6958 19.9275C18.6957 19.8182 18.7176 19.71 18.76 19.6092C18.8024 19.5085 18.8646 19.4173 18.9428 19.3409C19.021 19.2646 19.1137 19.2046 19.2154 19.1646C19.3172 19.1247 19.4259 19.1054 19.5351 19.1081ZM23.3422 6.26787H5.99544L4.9962 2.46076C4.95383 2.32124 4.86573 2.20003 4.74611 2.11665C4.62648 2.03328 4.48227 1.99258 4.3367 2.00111H0.619529C0.45522 2.00111 0.29764 2.06639 0.181456 2.18257C0.0652716 2.29875 5.50416e-09 2.45633 5.50416e-09 2.62064C-1.08651e-05 2.70154 0.0160802 2.78162 0.0473352 2.85623C0.0785902 2.93085 0.124384 2.99849 0.182047 3.05522C0.239711 3.11196 0.30809 3.15664 0.3832 3.18668C0.458309 3.21672 0.538646 3.23151 0.619529 3.23018H3.85707L8.08385 18.1288C7.7574 18.3031 7.48395 18.5621 7.29228 18.8786C7.10061 19.1951 6.9978 19.5575 6.99468 19.9275C6.99468 20.484 7.21576 21.0177 7.60929 21.4113C8.00282 21.8048 8.53655 22.0259 9.09308 22.0259C9.64962 22.0259 10.1834 21.8048 10.5769 21.4113C10.9704 21.0177 11.1915 20.484 11.1915 19.9275C11.1937 19.6443 11.1322 19.3643 11.0116 19.1081H17.5966C17.4794 19.3654 17.4181 19.6447 17.4168 19.9275C17.4088 20.3461 17.5257 20.7576 17.7525 21.1095C17.9793 21.4615 18.3057 21.7379 18.6902 21.9037C19.0747 22.0694 19.4998 22.1169 19.9114 22.0401C20.323 21.9633 20.7024 21.7657 21.0013 21.4725C21.3002 21.1793 21.505 20.8037 21.5896 20.3937C21.6743 19.9837 21.6349 19.5577 21.4766 19.1701C21.3182 18.7825 21.0481 18.4508 20.7006 18.2173C20.353 17.9839 19.9438 17.8591 19.5252 17.8591H9.31292L8.76334 15.9205H21.2438C21.3839 15.9195 21.52 15.8733 21.6316 15.7886C21.7433 15.704 21.8246 15.5855 21.8634 15.4509L23.9818 6.99731C24.0049 6.90583 24.006 6.81019 23.9852 6.71816C23.9644 6.62614 23.9221 6.54033 23.8619 6.46772C23.7973 6.39554 23.7166 6.33976 23.6262 6.30501C23.5358 6.27025 23.4385 6.25752 23.3422 6.26787Z"
        fill="white"></path>
    </svg>
  </div>
</header>
