---
import { Image } from "astro:assets";
import AccountImage from "../assets/account.png";
---

<footer class="flex bg-white px-2 border-t border-t-dark-gr/20">
  <div class="flex flex-col pt-3 pb-4 w-1/5 justify-center items-center gap-1">
    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
      <g clip-path="url(#clip0_5971_2858)">
        <path
          d="M21.906 10.71C22.256 10.958 22.256 10.958 22.256 11.343V22.236C22.256 22.659 21.917 23 21.497 23H15.727C15.524 22.9997 15.3293 22.9193 15.1852 22.7762C15.0412 22.6331 14.9595 22.439 14.958 22.236V14.88H9.83996V22.237C9.83996 22.66 9.49997 23.001 9.06997 23.001H3.30997C3.2091 23.0019 3.10904 22.9828 3.0156 22.9448C2.92215 22.9068 2.83716 22.8507 2.76556 22.7796C2.69395 22.7086 2.63714 22.624 2.59842 22.5309C2.5597 22.4377 2.53983 22.3378 2.53997 22.237V11.343C2.53997 10.979 2.53997 10.979 2.88997 10.709L11.979 4.78896C12.4 4.51396 12.4 4.51396 12.829 4.79896C13.114 4.98796 16.14 6.95896 21.906 10.709V10.71ZM12.83 1.12996C13.115 1.30796 16.855 3.73996 24.047 8.42696C24.407 8.65896 24.527 9.14296 24.277 9.49196C23.997 9.88396 23.597 9.88396 23.218 9.72396L12.399 2.68896L1.58097 9.72396C1.20897 9.84396 0.750965 9.84396 0.520965 9.49196C0.412742 9.31954 0.376217 9.11163 0.419191 8.91265C0.462165 8.71366 0.581231 8.53936 0.750965 8.42696L4.15097 6.21596V1.77296C4.15097 1.34096 4.48997 0.999961 4.92097 0.999961H8.74997C9.16997 0.999961 9.50996 1.34096 9.50996 1.77296V2.72896L11.979 1.12096C12.399 0.863961 12.4 0.863961 12.829 1.13096L12.83 1.12996Z"
          fill="#162F4F"></path>
      </g>
      <defs>
        <clipPath id="clip0_5971_2858">
          <rect width="24" height="24" fill="white" transform="translate(0.399902)"></rect>
        </clipPath>
      </defs>
    </svg>
    <span class="text-xs font-medium text-dark-gr">Home</span>
  </div>
  <div class="flex flex-col pt-3 pb-4 w-1/5 justify-center items-center gap-1 opacity-65">
    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
      <g clip-path="url(#clip0_5971_2862)">
        <path
          d="M6.11107 24H7.58207C7.72393 24.0021 7.86409 23.969 7.99007 23.9037C8.11604 23.8385 8.22391 23.7431 8.30407 23.626L15.1591 14.5L22.6811 13.719C23.1165 13.4955 23.5105 13.1993 23.8461 12.843C24.0732 12.6084 24.2002 12.2946 24.2002 11.968C24.2002 11.6414 24.0732 11.3276 23.8461 11.093C23.5106 10.7369 23.1166 10.4409 22.6811 10.218L15.1591 9.438L8.33107 0.374C8.24872 0.259644 8.14067 0.166224 8.01561 0.101264C7.89055 0.0363037 7.75199 0.00161796 7.61107 0L6.13807 0L9.21807 9.906L3.36307 10.313L1.17007 8.063C0.859944 7.9484 0.530519 7.89508 0.200073 7.906L1.45007 12.031L0.200073 16.094C0.521313 16.0991 0.840817 16.0459 1.14307 15.937L3.33607 13.688L9.19207 14.094L6.11207 24H6.11107Z"
          fill="#162F4F"></path>
      </g>
      <defs>
        <clipPath id="clip0_5971_2862">
          <rect width="24" height="24" fill="white" transform="translate(0.200073)"></rect>
        </clipPath>
      </defs>
    </svg>
    <span class="text-xs font-medium text-dark-gr">Book Flight</span>
  </div>
  <div class="flex flex-col pt-3 pb-4 w-1/5 justify-center items-center gap-1 opacity-65">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
      <g clip-path="url(#clip0_5971_2866)">
        <path
          d="M7.1 24V5.584H16.9V24H7.1ZM0 8.197C0 7.762 0.11 7.364 0.29 7.007C0.525559 6.57411 0.874066 6.21318 1.29844 5.9626C1.72281 5.71203 2.20718 5.58119 2.7 5.584H5.86V24H2.7C1.21 24 0 22.829 0 21.386V8.197ZM21.3 5.584C22.35 5.584 23.26 6.164 23.71 7.007C23.89 7.364 24 7.762 24 8.197V21.387C24 22.828 22.79 24 21.3 24H18.14V5.584H21.3ZM6.58 4.133C6.97 1.79 9.25 0 12 0C14.75 0 17.03 1.79 17.42 4.133H15.9C15.51 2.603 13.91 1.451 12 1.451C10.09 1.451 8.49 2.603 8.1 4.133H6.58Z"
          fill="#162F4F"></path>
      </g>
      <defs>
        <clipPath id="clip0_5971_2866">
          <rect width="24" height="24" fill="white"></rect>
        </clipPath>
      </defs>
    </svg>
    <span class="text-xs font-medium text-dark-gr">Trips</span>
  </div>
  <div class="flex flex-col pt-3 pb-4 w-1/5 justify-center items-center gap-1 opacity-65">
    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
      <g clip-path="url(#clip0_5971_2870)">
        <path
          d="M12.412 14C12.069 14 11.8 13.705 11.8 13.359V6.641C11.8 6.282 12.07 6 12.412 6C12.742 6 13.024 6.282 13.024 6.641V12.718H17.188C17.518 12.718 17.8 13 17.8 13.359C17.8 13.705 17.518 14 17.188 14H12.412ZM0.800049 12C0.800049 18.636 6.17605 24 12.8 24C19.424 24 24.8 18.636 24.8 12C24.8 5.376 19.424 0 12.8 0C6.17605 0 0.800049 5.376 0.800049 12Z"
          fill="#162F4F"></path>
      </g>
      <defs>
        <clipPath id="clip0_5971_2870">
          <rect width="24" height="24" fill="white" transform="translate(0.800049)"></rect>
        </clipPath>
      </defs>
    </svg>
    <span class="text-xs font-medium text-dark-gr">Flight Status</span>
  </div>
  <div class="flex flex-col pt-3 pb-4 w-1/5 justify-center items-center gap-1 opacity-65">
    <Image width={24} height={24} src={AccountImage} alt="Account" class="w-6 h-6" />
    <span class="text-xs font-medium text-dark-gr">Account</span>
  </div>
</footer>
